.mobileLogo,.hamburger{
    display: none;
  }

  .menu{
    display: none;
    position: absolute;
    top:80px;
    transform: translate(-30px,0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border-radius:4px;
    width:176px;
    /* height:120px; */
  }
  
  .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu ul li {
    height:50px;
    display: flex;
    /* justify-content: center; */
    padding:0 0 0 40px;
    align-items: center;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #02569D;
    border-radius:4px;
    /* border:1px solid red; */
  }
  
  .menu ul li:hover{
    color:white;
    background-color: #02569D;
  }
  
  .sidebar{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding:2em 0;
    z-index: 3;
    width:280px;
    height: 100vh;
    right:0;
    top:0;
    background-color: #ffffff;
    box-shadow: -0px 0 12px grey;
  }
  
  .sidebarList{
    list-style: none;
    padding:1em;
  }
  
  .sidebarList li{
    margin-bottom: 1.7em;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    color:#02569D;
  }
  
  .sidebarLogo{
    width:220px;
    height:46px;
  }
  
  .downloadBtn{
    width:318px;
    height:60px;
    border:none;
    border-radius:60px;
    background-color:#02569D;
    cursor: pointer;
    color:#ffffff;
    font-family:'Sora';
    font-weight:400;
    text-transform:capitalize;
  }

  .downloadBtn:hover{
    background-color: #7EB4D9;
  }

@media screen and (max-width:1071px) {
    .logo{
        width:150px;
        height:30px;
      }    
    .menu{
        transform: translate(-150px,0);
    }
    .downloadBtn{
        width:300px;
        height:40px;
        font-size:17px;
    }
}

@media screen and (max-width:685px) {
    .logo{
        width:90px;
        height:18px;
      }
      .menu{
        transform: translate(-100px,0);
      }
      .downloadBtn{
        width:200px;
          height:30px;
          font-size:10px;
      }
}

@media screen and (max-width:576px) {
    .logo{
        display: none;
    }
    .mobileLogo,.hamburger{
        display: block;
    }
}