*{
    -webkit-tap-highlight-color: transparent;
}

body{
    margin: 0;
    overflow-x: hidden;
    min-width: 320px;
    /* width of the body shouldn't be less than 320, if any device less than 320px then it will zoom out the webpage showing 320px media query */
    /* border:1px solid violet; */
}